#####################
# Java Ignore files #
#####################
*.class

##########################
# Jetbrains Ignore files #
##########################
*.iml
.idea/
.out/
*.kotlin_module

#####################
# Python Ignore files #
#####################
__pycache__/